@import url(http://fonts.googleapis.com/css?family=Cantata+One);

#container {
	margin: 1em;
}

#intro {
	font-size: 1.2em;
}

#annotations {
	font-style: italic;
	font-size: 2em;
	color: #555555;
	float: right;
}

#annotations ul {
	list-style: none;
}

body * {
	color: #333333;
	font-family: 'Canatata One';
}  
h1 {
	color: #EE3322;		
}
h2{
	color: #2277EE;	
}

th {
	border-bottom: 2px solid #333333; 
}
.method:first-letter {
	font-weight: bold;
}
.error {
	color: red;
	background-color: white;
	padding: 4px;
}
.right {
	text-align: right;
}
